@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
  font-family: 'Oxygen', sans-serif;
  color: #3d405b;
  background-color: #f4f1de;
}

h1 {
  font-weight: 700;
  justify-content: center;
}

p {
  margin-top: 1em;
}

/* Picture, tagline, and social icons aligned to center.*/

.navigation {
  margin-top: 0;
  padding-top: 0;
  background-color: #81b29a;
  border-radius: 2%;

  display: flex;
  justify-content: space-evenly;

}

.header {
  text-align: center;

  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #81b29a;
  border-radius: 2%;
}

.image_eryk {
  max-width: 75px;
  border-radius: 50%;
  margin-top: 1em;
}

.tagline {
  font-weight: 300;
  font-size: 1rem;
  margin: auto 1em auto 1em;
}

.social-icons img {
  max-width: 35px;
  padding: 5px;
  margin-bottom: 1em;
}

/* Rest of the website. */

.content {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #e07a5f;
  border-radius: 2%;
}

.text.container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f2cc8f;
  border-radius: 2%;

  text-align: center;
}
