@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #3d405b;
}

h1 {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 2.8rem;
  color: #f4f1de;
  padding-top: 5rem;
}

p {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 2.5rem;
  color: #f4f1de;
}

.Monzo {
  text-decoration: none;
  color: #e07a5f;
}

.rwi {
  color: #f2cc8f;
}

.nfs {
  color: #247ba0;
}
